[Unit]
Description={{ svc }} service version {{ version }}
After=network.target

[Service]
Type=simple
ExecStart=/opt/releases/{{ svc }}/{{ version }}/{{ svc }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias={{ svc }}.service
